<!-- <button mat-icon-button color="accent">
<mat-icon>home</mat-icon>
</button> -->

<mat-sidenav-container>
  <!-- mat-sidenav should be direct child for mat-sidenav-container - not bringing into seperate component -->
  <mat-sidenav #sidenav role="navigation">
    <app-nav-list (closeSidenav)="sidenav.close()"></app-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
  </mat-sidenav-content>
</mat-sidenav-container>

