

<div class="welcome" fxLayout.gt-sm fxLayoutGap.gt-sm="20px" fxLayout="column" fxLayoutAlign="center center">
  <section>
    <h1>ACTIVITY</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Never stop! Dive into new challenges every day</p>
  </section>
</div>



<!-- <div class="container" fxLayout fxLayoutAlign="center center">
  <div fxHide.lt-md fxFlex="300px" class="nav box"></div>
  <div fxFlex class="content box" fxLayout.lt-md="column" fxLayout fxLayoutGap="10px" >
    <div fxFlex class="box"></div>
    <div fxFlex class="box"></div>
  </div>
</div> -->